<div class="container">
    <mat-icon class="back" (click)="back()">arrow_back_ios</mat-icon>
    <mat-card *ngIf="pokemon" style="margin-bottom: 10px;">
        <mat-card-header>
            <img *ngIf="!showShinySprite" mat-card-avatar src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.id}}.png" [alt]="pokemon.localeName" (click)="toggleShinySprite()">
            <img *ngIf="showShinySprite" mat-card-avatar src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/{{pokemon.id}}.png" [alt]="pokemon.localeName" (click)="toggleShinySprite()">
            <mat-card-title>{{ pokemon.localeName }}</mat-card-title>
            <mat-card-subtitle>
                <app-type-list [types]="pokemon.types"></app-type-list>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p><strong>Height:</strong> {{ (pokemon.height / 10).toFixed(1) }} m / {{ convertToFeet(pokemon.height) }}</p>
            <p><strong>Weight:</strong> {{ (pokemon.weight / 10).toFixed(1) }} kg / {{ convertToPounds(pokemon.weight) }} lbs.</p>
            <app-pokedex-entry-evolutions [pokemon]="pokemon"></app-pokedex-entry-evolutions>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content>
            <mat-tab-group animationDuration="0ms">
                <mat-tab label="Damage taken">
                    <app-pokedex-entry-types [pokemon]="pokemon"></app-pokedex-entry-types>
                </mat-tab>
                <mat-tab label="Learned Moves">
                    <app-pokedex-entry-moves [pokemon]="pokemon"></app-pokedex-entry-moves>
                </mat-tab>
                <mat-tab label="Abilities">
                    abilities will go here
                </mat-tab>
                <mat-tab label="Stats">
                    stats will go here
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>