.container {
    padding: 65px 15px 25px 15px;
    background-color: white;
    min-height: calc(100% - 90px);
}

.back {
    cursor: pointer;
}

.mat-card-avatar {
    height: 80px;
    width: 80px;
}

.type-card {
    margin: 0 1px 10px 1px;
}
