<div class="container">
    <mat-icon class="back" (click)="back()">arrow_back_ios</mat-icon>
    <mat-card *ngIf="pokemon" style="margin-bottom: 10px;">
        <mat-card-header>
            <img mat-card-avatar [src]="pokemon.sprites.front_default" [alt]="capitalizeFirstLetter(pokemon.name)">
            <mat-card-title>{{ capitalizeFirstLetter(pokemon.name) }}</mat-card-title>
            <mat-card-subtitle>
                <mat-chip-list>
                    <mat-chip
                        *ngIf="pokemon.types[0]"
                        class="{{ pokemon.types[0].type.name }} type"
                    >
                        {{ capitalizeFirstLetter(pokemon.types[0].type.name) }}
                    </mat-chip>
                    <mat-chip
                        *ngIf="pokemon.types[1]"
                        class="{{ pokemon.types[1].type.name }} type"
                    >
                        {{ capitalizeFirstLetter(pokemon.types[1].type.name) }}
                    </mat-chip>
                </mat-chip-list>
            </mat-card-subtitle>
        </mat-card-header>
    </mat-card>

    <mat-card>
        <mat-card-content>
            <mat-tab-group mat-stretch-tabs animationDuration="0ms">
                <mat-tab label="Damage taken">
                    <mat-card *ngIf="quarterDamageFrom.length > 0" class="type-card">
                        <mat-card-title>25%</mat-card-title>
                        <mat-card-content>
                            <mat-chip-list>
                                <mat-chip *ngFor="let type of quarterDamageFrom" class="{{ type }} type">{{ capitalizeFirstLetter(type) }}</mat-chip>
                            </mat-chip-list>
                        </mat-card-content>
                    </mat-card>
                    
                    <mat-card *ngIf="halfDamageFrom.length > 0" class="type-card">
                        <mat-card-title>50%</mat-card-title>
                        <mat-card-content>
                            <mat-chip-list>
                                <mat-chip *ngFor="let type of halfDamageFrom" class="{{ type }} type">{{ capitalizeFirstLetter(type) }}</mat-chip>
                            </mat-chip-list>
                        </mat-card-content>
                    </mat-card>
                    
                    <mat-card *ngIf="normalDamageFrom.length > 0" class="type-card">
                        <mat-card-title>100%</mat-card-title>
                        <mat-card-content>
                            <mat-chip-list>
                                <mat-chip *ngFor="let type of normalDamageFrom" class="{{ type }} type">{{ capitalizeFirstLetter(type) }}</mat-chip>
                            </mat-chip-list>
                        </mat-card-content>
                    </mat-card>
                    
                    <mat-card *ngIf="doubleDamageFrom.length > 0" class="type-card">
                        <mat-card-title>200%</mat-card-title>
                        <mat-card-content>
                            <mat-chip-list>
                                <mat-chip *ngFor="let type of doubleDamageFrom" class="{{ type }} type">{{ capitalizeFirstLetter(type) }}</mat-chip>
                            </mat-chip-list>
                        </mat-card-content>
                    </mat-card>
                </mat-tab>
                <mat-tab label="Second">Content 2</mat-tab>
                <mat-tab label="Third">Content 3</mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>