<div class="container" *ngIf="page">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Search</mat-label>
        <input #search matInput (keyup)="searchList(search.value)">
        <button *ngIf="isSearching" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch(search)">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <mat-card *ngFor="let monster of page" style="margin-bottom: 10px;" (click)="goToPokemon(monster.id)">
        <mat-card-header>
            <img mat-card-avatar [src]="getPokemonImageUrl(monster.id)" [alt]="monster.localeName">
            <mat-card-title>{{ monster.localeName }} - No. {{ monster.id }}</mat-card-title>
            <mat-card-subtitle>
                <app-type-list [types]="monster.types"></app-type-list>
            </mat-card-subtitle>
        </mat-card-header>
    </mat-card>

    <mat-paginator
        *ngIf="!isSearching"
        [length]="pokemon.length"
        [pageSize]="getPageSize()"
        [pageIndex]="getCurrentPage()"
        [showFirstLastButtons]="true"
        (page)="changePage($event)"
    ></mat-paginator>
</div>