.container {
    padding: 15px 15px 25px 15px;
    background-color: white;
    min-height: calc(100% - 90px);
}

mat-form-field {
    width: 100%;
}

mat-card {
    cursor: pointer;
}

.mat-card-avatar {
    height: 50px;
    width: 50px;
}
