.container {
    padding: 15px 15px 25px 15px;
    background-color: white;
    min-height: calc(100% - 90px);
}

h1, h2 {
    text-align: center;
}

mat-icon {
    position: absolute;
    top: 70px;
    left: 20px;
}

.encounter-card {
    margin: 0 1px 10px 1px;
}

.encounter-version-name,
.encounter-condition-chance {
    font-weight: bold;
}

.encounter-condition-container {
    margin-top: 5px;
}
