<div class="container">
    <mat-icon (click)="back()">arrow_back_ios</mat-icon>
    <h1>{{ region?.name }}</h1>
    <h2>{{ encounters[0] ? encounters[0].locations[0]?.locationName : '' }}</h2>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let encounter of encounters">
            <mat-expansion-panel-header>
                <mat-panel-title>{{ encounter.versionName }}</mat-panel-title>
            </mat-expansion-panel-header>

            <mat-accordion>
                <mat-expansion-panel *ngFor="let location of encounter.locations">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{ location.pokemonName }}</mat-panel-title>
                        <mat-panel-description>{{ location.locationAreaName }}</mat-panel-description>
                    </mat-expansion-panel-header>

                    <a mat-raised-button [routerLink]="['/pokedex', location.pokemonId]" class="encounter-card">View Pokédex entry</a>

                    <mat-card *ngFor="let method of location.methods" class="encounter-card">
                        <mat-card-subtitle>Levels {{ method.minLevel }} - {{ method.maxLevel }}</mat-card-subtitle>
                            <mat-card-content *ngFor="let condition of method.conditions">
                                <span class="encounter-condition-chance">{{ condition.chance }}%</span>
                                <span class="encounter-method-name"> {{ method.name }} {{ condition.name?.toLowerCase() }}</span>
                            </mat-card-content>
                    </mat-card>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-card *ngIf="encounters.length === 0" class="encounter-card">
        <mat-card-content>No location information.</mat-card-content>
    </mat-card>
</div>