mat-drawer-container {
    min-height: 100%;
}

mat-drawer {
    min-width: 50%;
}

.nav-item {
    margin-top: 10px;
    padding-left: 10px;
}

.nav-item span {
    position: relative;
    top: -6px;
}

.nav-header {
    height: 50px;
    background-color: #f44336;
}

.nav-separator {
    height: 1px;
    background-color: hsl(0, 0%, 83%);
    margin: 10px 5px 0px;
}

.top-bar {
    height: 50px;
    background-color: #f44336;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 10;
    padding-top: 500px;
    top: -500px;
}

.top-bar mat-icon {
    position: fixed;
    top: 13px;
    left: 10px;
}

.top-bar span {
    position: relative;
    top: 15px;
    left: calc(50% - 30px);
    display: inline-block;
    text-align: center;
}
