<mat-drawer-container>
    <mat-drawer #drawer mode="over">
        <div class="nav-header">
            <mat-icon (click)="drawer.toggle()">close</mat-icon>
        </div>
        <a routerLink="/pokedex" class="nav-item" (click)="drawer.close()">
            <mat-icon>search</mat-icon>
            <span>Pokedex</span>
        </a>
        <a routerLink="/typedex" class="nav-item" (click)="drawer.close()">
            <mat-icon>science</mat-icon>
            <span>Types</span>
        </a>
        <div class="nav-separator"></div>
        <div class="nav-item" (click)="checkForUpdates()">
            <mat-icon>update</mat-icon>
            <span>Check for updates</span>
        </div>
        <div class="nav-separator"></div>
        <div class="nav-item" (click)="clearData()">
            <mat-icon>save</mat-icon>
            <span>Clear Data</span>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="top-bar">
            <mat-icon (click)="drawer.toggle()">menu</mat-icon>
            <span>Pokedex</span>
        </div>

        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>


