<mat-drawer-container>
    <mat-drawer #drawer mode="over">
        <div class="nav-header">
            <img src="../assets/icons/icon-192x192.png" height="50px" width="50px" alt="">
        </div>
        <div class="nav-item" (click)="goToPokedex()">
            <mat-icon>search</mat-icon>
            <span>Pokedex</span>
        </div>
        <div class="nav-item">
            <mat-icon>science</mat-icon>
            <span>Types</span>
        </div>
        <div class="nav-separator"></div>
        <div class="nav-item" (click)="clearData()">
            <mat-icon>save</mat-icon>
            <span>Clear Data</span>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="top-bar">
            <mat-icon (click)="drawer.toggle()">menu</mat-icon>
            <span>Pokedex</span>
        </div>

        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>


