<div class="nav-item" (click)="backToMain()">
    <mat-icon>arrow_left</mat-icon>
    <span>Back</span>
</div>
<div class="nav-separator"></div>
<div class="nav-item">
    <mat-icon>translate</mat-icon>
    <mat-select [value]="languageId" (valueChange)="changeLanguage($event)">
        <mat-option *ngFor="let language of languages | async" [value]="language.id">{{language.name}}</mat-option>
    </mat-select>
</div>
<div class="nav-separator"></div>
<div class="nav-item" (click)="checkForUpdates()">
    <mat-icon>update</mat-icon>
    <span>Check for updates</span>
</div>
<div class="nav-item" (click)="clearData()">
    <mat-icon>save</mat-icon>
    <span>Clear Data</span>
</div>
