.container {
    padding: 65px 15px 25px 15px;
    background-color: white;
    min-height: calc(100% - 90px);
}

mat-form-field {
    width: 100%;
}

.mat-card-avatar {
    height: 50px;
    width: 50px;
}

.nav-button {
    background: none;
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
    box-shadow: 0 0 3px -1px;
    border-radius: 3px;
}

.nav .nav-page {
    padding: 5px 10px;
    cursor: pointer;
}

.type {
    color: white;
}

.normal.type {
    background-color: #a8a878;
}

.fighting.type {
    background-color: #c03028;
}

.flying.type {
    background-color: #a890f0;
}

.poison.type {
    background-color: #a040a0;
}

.ground.type {
    background-color: #e0c068;
}

.rock.type {
    background-color: #b8a038;
}

.bug.type {
    background-color: #a8b820;
}

.ghost.type {
    background-color: #705898;
}

.steel.type {
    background-color: #b8b8d0;
}

.fire.type {
    background-color: #f08030;
}

.water.type {
    background-color: #6890f0;
}

.grass.type {
    background-color: #78c850;
}

.electric.type {
    background-color: #f8d030;
    color: black;
}

.psychic.type {
    background-color: #f85888;
}

.ice.type {
    background-color: #98d8d8;
}

.dragon.type {
    background-color: #7038f8;
}

.dark.type {
    background-color: #705848;
}

.fairy.type {
    background-color: #ee99ac;
}

.unknown.type {
    background-color: #a0a0a0;
}

.shadow.type {
    background-color: #705898;
}